<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="toolbox.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="header.css">
    <title>Reviewdangil</title>
</head>
<body>
    <header class="main-header">
        <a href="#" class="main-header-logo">Reviewdangil</a>
        <div class="main-header-left-element">
            <ul>
                <li><a href="#" class="white-a">계정 관리</a></li>
                <li><a href="#" class="white-a">로그아웃</a></li>
            </ul>
            <img src="blank_profil.png" alt="#">
        </div>
    </header>
    <header class="main_header">로그인</header>
    <label style="margin-top:100px"class="text-input-middle-size">ID<input style="left: 150px; width: 1000px;" type="text" name="id">
    </label>
    <label class="text-input-middle-size">PW<input style="left: 125px; width: 1000px;" type="text" name="pw">
    </label>
    <div style="margin-left:1250px;">
        <button class="white-button" type="reset"><span class="white-button">회원 가입</span>
        </button>
        <button class="black-button" type="file"><span class="black-button">로그인</span>
        </button>
    </div>
</body>
</html>