<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="toolbox.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="review_write.css">
    <title>Reviewdangil</title>
</head>
<body>
    <header class="main-header">
        <a href="#" class="main-header-logo">Reviewdangil</a>
        <div class="main-header-left-element">
            <ul>
                <li><a href="#" class="white-a">계정 관리</a></li>
                <li><a href="#" class="white-a">로그아웃</a></li>
            </ul>
            <img src="blank_profil.png" alt="#">
        </div>
    </header>
<input type="text" class="input_headline" name="headline" placeholder="제목을 입력하세요">
</label>
</body>
</html>