<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/announceWrite.css" />
		<title>header 예시 템플릿</title>
	</head>
	<body>
		<header class="main-header">
			<a href="/home" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="/mypage" class="white-a">계정 관리</a></li>
					<li><a href="/" class="white-a">로그아웃</a></li>
				</ul>
				<img src="./sample.avif" alt="프로필 이미지" />
			</div>
		</header>
		<main>
			<div class="scrollbar"></div>
			<div id="headline">
				<input type="text" name="headline" placeholder="제목을 입력하세요">
			</div>
			<div id="containerText">
				<textarea name="text" oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"' style="min-height: 300px;" placeholder="내용을 입력하세요"></textarea>
			</div>
			<div id="containerBottom">
				<a href="/home" class="white-a">취소</a>
				<a href="/review-read" class="black-a">작성 완료</a>
				
			</div>
		</main>
	</body>
</html>
