<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
    <link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
    <link rel="stylesheet" href="/stylesheets/announceRead.css" />
    <title>Reviewdangil</title>
  </head>
  <body>
    <header class="main-header">
      <a href="/home" class="main-header-logo">Reviewdangil</a>
      <div class="main-header-left-element">
        <ul>
          <li><a href="/mypage" class="white-a">계정 관리</a></li>
          <li><a href="/" class="white-a">로그아웃</a></li>
        </ul>
        <img src="https://picsum.photos/200/300" alt="프로필 이미지" />
      </div>
    </header>
    <main>
      <div class="scrollbar"></div>
      <h1>공지사항</h1>
      <div
        id="containerText"
        oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi atque
        impedit quibusdam esse nesciunt voluptatum dolorem blanditiis,
        voluptates consequuntur veniam ipsa fugiat porro sit dolore autem. Ab
        sapiente aut modi! Minus sit atque quo explicabo deserunt necessitatibus
        expedita voluptatum fuga deleniti impedit soluta nemo dignissimos
        numquam quis, incidunt natus magnam tenetur fugiat labore. Iure
        accusamus porro tempore delectus saepe labore. Eum, facere
        necessitatibus? Dolor doloremque harum incidunt earum sed tempora minus
        animi beatae. Non, deleniti facilis. Voluptas ullam molestias repellat
        architecto laborum, dolore laboriosam vitae consectetur ipsa totam
        tenetur consequatur? Corporis nobis soluta, perspiciatis quas minima,
        non cumque blanditiis atque laudantium eum, molestiae ipsam ut ducimus
        itaque? Dolore nemo pariatur fuga, distinctio excepturi, rerum
        repellendus ipsa accusamus, eveniet ipsam iste! Esse velit odio, quasi
        vitae voluptates expedita iure voluptatum quidem error, consequuntur
        voluptate exercitationem quisquam. Blanditiis laborum expedita at maxime
        fuga cumque molestias ad voluptates eaque mollitia odio, quas
        laudantium. Tempora, iure molestias temporibus ipsum reprehenderit vero!
        Eius, vel nemo. Modi, eum tempora voluptatibus eveniet, corrupti dolorem
        eaque alias sapiente a quis sequi laudantium maxime quo libero rem natus
        magni! Veritatis dolorem ducimus quaerat harum debitis doloribus qui
        similique tempora cumque, omnis reprehenderit voluptates hic quidem
        eveniet quo deserunt dignissimos fugit ab quod reiciendis illo accusamus
        corporis quam inventore. Quidem? Esse ullam quaerat officia quo culpa
        totam impedit, odio provident autem voluptatum id debitis perferendis
        sequi mollitia assumenda nihil quia fuga necessitatibus. Porro optio eum
        praesentium suscipit pariatur nemo repellendus? Obcaecati veritatis iure
        ea, provident doloribus dicta dolores at quibusdam nemo sed commodi,
        fuga doloremque odit dolorem cum assumenda distinctio harum accusamus
        eveniet omnis! Facilis temporibus dolorum excepturi inventore debitis?
        Nesciunt omnis delectus eius dolores, facilis tenetur optio sapiente
        quaerat ullam accusantium iusto officia laborum beatae voluptatem porro
        a corporis ipsum ea cum. Facere veritatis magnam maiores voluptas minus
        reiciendis? s illo eum repellat sapiente alias ipsam voluptatum delectus
        corrupti doloribus libero voluptas, velit dolores excepturi! Commodi
        voluptatum in aliquam harum. Odio sunt quasi facilis dolore sapiente
        blanditiis earum quidem ipsa similique. Similique aut vitae eveniet
        doloribus, vero est illo incidunt quisquam qui et provident odit officia
        recusandae tempore quibusdam minus.
      </div>
    </main>
  </body>
</html>
