<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/announceWrite.css" />
		<title>header 예시 템플릿</title>
	</head>
	<body>
		<header class="main-header">
			<a href="#" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="#" class="white-a">계정 관리</a></li>
					<li><a href="#" class="white-a">로그아웃</a></li>
				</ul>
				<img src="./sample.avif" alt="프로필 이미지" />
			</div>
		</header>
		<header>
			<input
				type="text"
				class="input_headline"
				name="headline"
				placeholder="공지사항 위치"
			/>
		</header>
		<div class="scrollbar"></div>
		<div>
			<textarea id="text_review" rows="5" cols="60">
본문본문본문본문본문본문본문본문본문본문본문본문본문본문본문</textarea
			>
		</div>
		<div style="margin: 50px 0 0 1600px">
			<button class="white-button" type="reset">
				<span class="white-button">취소</span>
			</button>
			<button class="black-button" type="file">
				<span class="black-button">작성 완료</span>
			</button>
		</div>
	</body>
</html>
