<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/announceRead.css" />
		<title>header 예시 템플릿</title>
	</head>
	<body>
		<header class="main-header">
			<a href="#" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="#" class="white-a">계정 관리</a></li>
					<li><a href="#" class="white-a">로그아웃</a></li>
				</ul>
				<img src="./sample.avif" alt="프로필 이미지" />
			</div>
		</header>
		<main>
			<div class="scrollbar"></div>
			<div id="headline">
				<h1>공지사항</h1>
			</div>
			<div id="containerText">
				작성된 본문
			</div>
			<div id="containerBottom">
				<button class="white-button">
					취소
				</button>
				<button class="black-button">
					작성 완료
				</button>
			</div>
		</main>
	</body>
</html>
