<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/login.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<title>Reviewdangil</title>
	</head>
	<body>
		<header class="main-header">
			<a href="/" class="main-header-logo">Reviewdangil</a>
		</header>
		<h1>로그인</h1>
		<main>
			<div id="formAccount">
				<label class="text-input-middle-size">ID
					<input style="margin:0 0 0 50px;" type="text" name="id">
				</label>
				<label class="text-input-middle-size">PW
					<input style="margin:0 0 0 25px;" type="text" name="pw">
				</label>
			</div>
			<div id="buttons">
				<a href="/signup" class="white-a">
					회원 가입
				</a>
				<a href="/home" class="black-a">
					로그인
				</a>
			</div>
		</main>
	</body>
</html>
