<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/module/infoCardModule.css" />
		<link rel="stylesheet" href="/stylesheets/moreReview.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="main-header">
			<a href="/home" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="/mypage" class="white-a">계정 관리</a></li>
					<li><a href="/login" class="white-a">로그아웃</a></li>
				</ul>
				<img src="https://picsum.photos/200/300" alt="프로필 이미지" />
			</div>
		</header>
		<div id="notice">
			<h2>공지</h2>
			<a href="/announce-read">공지사항이 있어요! 지금 확인해 보세요!</a>
		</div>
		<main>
			<div id="sub-header">
				<h1>현 위치 최근 리뷰</h1>
				<a href="/review-write" class="white-a">리뷰 쓰기</a>
			</div>
			<div id="info-container">
				<div id="info-grid-container">
					<% reviews.forEach(function(review){ %>
						<a href="/review-read">
							<div class="info-card">
								<img src="https://picsum.photos/200" alt="썸네일" />
								<div class="info-card-text">
									<span><%= review.HEADLINE %></span>
									<span class="review-text-thumbnail">
										<%= review.CONTENTS %>
									</span>
									<span><%= review.location_id %></span>
								</div>
							</div>
						</a>
					<% }); %>
							</div>
						</a>
			<div id="page-number-container">
				<a href="#" class="black-page-number-a">1</a>
				<a href="#" class="white-page-number-a">2</a>
				<a href="#" class="white-page-number-a">3</a>
				<a href="#" class="white-page-number-a">4</a>
				<a href="#" class="white-page-number-a">5</a>
				<a href="#" class="white-page-number-a">></a>
			</div>
		</main>
	</body>
</html>
