<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/css/toolbox.css" />
		<link rel="stylesheet" href="../public/css/headerModule.css" />
		<link rel="stylesheet" href="../public/css/infoCardModule.css" />
		<link rel="stylesheet" href="../public/css/moreReview.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="main-header">
			<a href="#" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="#" class="white-a">계정 관리</a></li>
					<li><a href="#" class="white-a">로그아웃</a></li>
				</ul>
				<img src="https://picsum.photos/200/300" alt="프로필 이미지" />
			</div>
		</header>
		<main>
			<h1>현 위치 최근 리뷰</h1>
			<div id="info-container">
				<div id="info-grid-container">
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
					<div class="info-card">
						<img src="https://picsum.photos/200" alt="썸네일" />
						<div class="info-card-text">
							<span>리뷰 제목</span>
							<span class="review-text-thumbnail">
								리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용
								어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
								저쩌고 어쩌고 저쩌고
							</span>
							<span>위치</span>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="white-a" id="more-info-button"> 리뷰 더보기 </a>
		</main>
	</body>
</html>
