<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/review.css" />
		<title>Reviewdangil</title>
	</head>
	<body>
		<header class="main-header">
			<a href="/home" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="/mypage" class="white-a">계정 관리</a></li>
					<li><a href="/" class="white-a">로그아웃</a></li>
				</ul>
				<img src="https://picsum.photos/200/300" alt="#" />
			</div>
		</header>
		<main>
			<div class="scrollbar"></div>
			<div id="containerTop">
				<h1>작성된 제목</h1>
				<span class="starRating">
					<input type="radio" class="star" value="1" />
					<input type="radio" class="star" value="2" />
					<input type="radio" class="star" value="3" />
					<input type="radio" class="star" value="4" />
					<input type="radio" class="star" value="5" />
				</span>
			</div>
			<div id="containerLocation"></div>
			<div id="containerMap">맵 불러올 자리</div>
			<div id="containerImg">
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
			</div>
			<div id="containerText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis itaque adipisci cupiditate odio. Exercitationem quidem magnam cumque, vitae neque maiores eius nihil? Illum officia iure, totam voluptates nesciunt deleniti eaque?
			Corrupti fugiat animi nesciunt repudiandae tempore iusto harum officia dolores voluptatum labore iure, totam aliquam natus temporibus minima illo quae? A quidem eius, ducimus pariatur quas possimus voluptatibus doloribus laboriosam?
			Voluptates nesciunt laudantium corporis ipsam doloribus nisi, reprehenderit ad iure vel veniam eum saepe sed optio odit praesentium. Sint rem animi itaque vel qui optio consequuntur. Veritatis ratione similique inventore.
			Perferendis maxime vero libero, voluptas tempore quia laborum quod tempora unde molestiae consectetur commodi obcaecati? Illum id nisi blanditiis fuga in repellat odit reiciendis! Minus tempore porro at pariatur magnam.
			Ut odit provident repellendus maiores commodi voluptas eius voluptates atque necessitatibus ad assumenda illo veritatis alias harum ullam quis, eligendi sit sequi natus dolores. Corporis aspernatur illum reprehenderit possimus voluptates.</div>
			<div id="containerBottom">
				<a href="/review-write" class="white-a">리뷰 수정</a>
				<a href="/home" class="black-a">리뷰 삭제</a>
			</div>
		</main>
	</body>
</html>
