<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/review.css" />
		<title>Reviewdangil</title>
	</head>
	<body>
		<header class="main-header">
			<a href="#" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="#" class="white-a">계정 관리</a></li>
					<li><a href="#" class="white-a">로그아웃</a></li>
				</ul>
				<img src="https://picsum.photos/200/300" alt="#" />
			</div>
		</header>
		<main>
			<div class="scrollbar"></div>
			<div id="containerTop">
				<h1>작성된 제목</h1>
				<span class="starRating">
					<input type="radio" class="star" value="1" />
					<input type="radio" class="star" value="2" />
					<input type="radio" class="star" value="3" />
					<input type="radio" class="star" value="4" />
					<input type="radio" class="star" value="5" />
				</span>
			</div>
			<div id="containerLocation"></div>
			<div id="containerMap">맵 불러올 자리</div>
			<div id="containerImg">
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
			</div>
			<div id="containerText">본문자리본문자리본문
				자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴ
				ㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본
				문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴ
				ㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리
				ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴ
				ㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴ
				ㄴㄴㄴㄴㄴㄴ본문자리본문자리본문자리본문자
				리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹ
				ㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴ
				ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ
				본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴ
				ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본
				문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ본문자리본문
				자리본문자리본문자리ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴ
				ㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹㄴㄴㄴㄴㄴㄴㄴㄴㄴㅇㄹㄴㅇㄹ</div>
			<div id="containerBottom">
				<button class="black-button">
					리뷰 삭제
				</button>
			</div>
		</main>
	</body>
</html>
