<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<link rel="stylesheet" href="/stylesheets/review.css" />
		<title>Reviewdangil</title>
	</head>
	<body>
		<header class="main-header">
			<a href="#" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="/announce-read" class="white-a">공지 사항</a></li>
					<li><a href="/admin/user-management" class="white-a">유저 관리</a></li>
					<li><a href="/" class="white-a">로그아웃</a></li>
				</ul>
				<img src="https://picsum.photos/200/300" alt="#" />
			</div>
		</header>
		<main>
			<div class="scrollbar"></div>
			<div id="containerTop">
				<h1>작성된 제목</h1>
				<span class="starRating">
					<input type="radio" class="star" value="1" />
					<input type="radio" class="star" value="2" />
					<input type="radio" class="star" value="3" />
					<input type="radio" class="star" value="4" />
					<input type="radio" class="star" value="5" />
				</span>
			</div>
			<div id="containerLocation"></div>
			<div id="containerMap">맵 불러올 자리</div>
			<div id="containerImg">
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
				<img src="https://picsum.photos/450/450" />
			</div>
			<div id="containerText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia tempore quaerat ad illum consectetur temporibus eum, enim delectus neque optio libero fugiat qui vel officiis. Doloremque velit dolorum repellat obcaecati.
			Hic deserunt, est perferendis praesentium doloremque asperiores qui magni obcaecati odit, quam totam commodi. Molestias sunt totam quibusdam qui asperiores quasi aliquam nulla porro, nesciunt laboriosam illum? Eaque, delectus! Voluptate?
			Saepe natus at sint iste quae, voluptatem vero dolor minima commodi nesciunt, ullam, inventore qui. Accusantium nemo minima harum distinctio ducimus culpa autem, laborum officiis rerum, quod voluptatem nihil provident?
			Minus, adipisci dolor. Commodi provident possimus impedit? Molestiae sunt alias doloribus nulla corporis, nam deleniti aut voluptatibus quibusdam sequi expedita enim vel magnam rerum delectus laudantium dignissimos excepturi? Distinctio, iusto!
			Dicta aliquam eligendi quos earum inventore harum iure. Illum hic delectus accusamus, minus facilis quibusdam illo quod ex voluptates quasi reiciendis, odio totam dignissimos exercitationem tempora, voluptatibus aliquid rerum quae?</div>
			<div id="containerBottom">
				<a href="/home" class="black-a">리뷰 삭제</a>
			</div>
		</main>
	</body>
</html>
