<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
		<link rel="stylesheet" href="/stylesheets/signUp.css" />
		<link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
		<title>Reviewdangil</title>
	</head>
	<body>
		<header class="main-header">
			<a href="/" class="main-header-logo">Reviewdangil</a>
		</header>
		<h1>회원가입</h1>
		<main>
			<form action="/api/signUp" method="post" enctype="multipart/form-data">
				<div id="formLeft">
					<label class="text-input-middle-size">ID
						<input style="margin:0 0 0 150px;" type="text" name="id">
					</label>
					<label class="text-input-middle-size">PW
						<input style="margin:0 0 0 125px;"type="text" name="pw">
					</label>
					<label class="text-input-middle-size">PW 확인
						<input style="margin:0 0 0 25px;"type="text" name="matchPw">
					</label>
					<label class="text-input-middle-size">닉네임
						<input style="margin:0 0 0 67px;"type="text" name="nickname">
					</label>
					<label class="text-input-middle-size">생년월일
						<input style="margin:0 0 0 25px;;"type="text" name="birth">
					</label>
					<label class="text-input-middle-size">이메일
						<input style="margin:0 0 0 66px;"type="text" name="email">
					</label>
				</div>
				<div id="formRight">
					<div id="formImg">
						<img src="https://picsum.photos/300/300" alt="#"/>
					</div>
					<div id="formButton">
						<button class="white-button">
							사진 삭제
						</button>
						<button class="white-button">
							사진 편집
						</button>	
					</div>
					<div id="summitButton">
						<input type="submit" value="계정 생성" class="black-a">
					</div>	
				</div>
			</form>

		</main>
	</body>
	<% if (message && message.length > 0) { %>
		<script>
			alert('<%= message %>');
		</script>
	<% } %>
	</html>
