<!DOCTYPE html> <!-- to do 사진 삭제, 추가, 이미지의 연동, 계정 생성시 페이지 이동-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/toolbox.css">
    <link rel="stylesheet" href="../public/css/signUp.css">
    <link rel="stylesheet" href="../public/css/headerModule.css">
    <title>Reviewdangil</title>
</head>
<body>
    <header class="main-header">
        <a href="#" class="main-header-logo">Reviewdangil</a>
        <div class="main-header-left-element">
            <ul>
                <li><a href="#" class="white-a">계정 관리</a></li>
                <li><a href="#" class="white-a">로그아웃</a></li>
            </ul>
            <img src="../public/img/blackProfile.png" alt="#">
        </div>
    </header>
    <header class="mainHeader">회원가입</header>
    <div class="imgButton">
        <div><img class="imgProfil" src="../public/img/blankProfile .png" alt="#">
            </div>
        <button class="white-button" type="reset"><span class="white-button">사진 삭제</span>
        </button>
        <button class="white-button" type="file"><span class="white-button">사진 추가</span>
        </button>
    </div>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <label class="text-input-middle-size">ID<input style="left: 150px;" type="text" name="id"></label>
        <label class="text-input-middle-size">PW<input style="left: 125px;" type="text" name="pw"></label>
        <label class="text-input-middle-size">PW 확인<input style="left: 25px;" type="text" name="match_pw"></label>
        <label class="text-input-middle-size">닉네임<input style="left: 67px;" type="text" name="nickname"></label>
        <label class="text-input-middle-size">생년월일<input style="left: 25px;"type="date" name="birth"></label>
        <label class="text-input-middle-size">이메일<input style="left: 67px;"type="text" name="email"></label>
        <button style="margin-left:1600px;"class="black-button" type="submit">계정 생성</button>
      </form>
</body>
</html>