<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/module/toolbox.css" />
    <link rel="stylesheet" href="/stylesheets/module/headerModule.css" />
    <link rel="stylesheet" href="/stylesheets/module/infoCardModule.css" />
    <link rel="stylesheet" href="/stylesheets/userHome.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="main-header">
      <a href="/home" class="main-header-logo">Reviewdangil</a>
      <div class="main-header-left-element">
        <ul>
          <li><a href="/mypage" class="white-a">계정 관리</a></li>
          <li>
            <a href="/login" class="white-a">로그아웃</a>
          </li>
        </ul>
        <img src="https://picsum.photos/200/300" alt="프로필 이미지" />
      </div>
    </header>
    <main>
      <section id="left-container">
        <div id="address-input-container">
          <input
            type="text"
            class="text-input"
            id="keyword"
            placeholder="위치 입력"
          />
          <button class="white-button" onclick="searchPlaces()">
            리뷰 검색
          </button>
        </div>
        <div id="map" style="width: 100%; height: 100%"></div>
        <div id="bottom-buttons-container">
          <span
            >리뷰를 쓰시려면 상단 검색창에 리뷰를 검색을 하시고, 지도에서 마커를
            눌러주세요.</span
          >
        </div>
      </section>
      <section id="right-container">
        <h1>현 위치 최근 리뷰</h1>
        <div id="info-container">
          리뷰를 검색하시려면, <br />
          좌측 상단 검색창을 이용해 주세요.
        </div>
        <a href="/more-review" class="white-a" id="more-info-button">
          리뷰 더보기
        </a>
      </section>
    </main>
  </body>
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db886bb91673c40690514beb7a31ace6&libraries=services"
  ></script>
  <script>
    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var kakaoInfoWindow = new kakao.maps.InfoWindow({ zIndex: 1 });

    var mapContainer = document.getElementById("map"), // 지도를 표시할 div
      mapOption = {
        center: new kakao.maps.LatLng(35.8562, 129.2243), // 지도의 중심좌표를 경주로 변경
        level: 6,
      };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 키워드 검색 함수
    function searchPlaces() {
      var keyword = document.getElementById("keyword").value;

      if (!keyword.replace(/^\s+|\s+$/g, "")) {
        alert("키워드를 입력해주세요!");
        return false;
      }

      // 검색 키워드에 "경주"를 추가합니다
      keyword = "경주 " + keyword;

      // 장소 검색을 요청합니다
      ps.keywordSearch(keyword, placesSearchCB);
    }

    // 키워드 검색 완료 시 호출되는 콜백함수
    function placesSearchCB(data, status, pagination) {
      if (status === kakao.maps.services.Status.OK) {
        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();
        var infoContainer = document.getElementById("info-container");
        infoContainer.innerHTML = "";

        for (var i = 0; i < data.length; i++) {
          // 검색 결과가 경주 지역 내에 있는지 확인합니다
          if (
            data[i].y >= 35.7631 &&
            data[i].y <= 35.9631 &&
            data[i].x >= 129.1906 &&
            data[i].x <= 129.3106
          ) {
            displayMarker(data[i]);
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
          }
        }

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
        let centerLatitude = (bounds.qa + bounds.pa) / 2;
        let centerLongitude = (bounds.ha + bounds.oa) / 2;
        fetch(`/api/review/${centerLatitude}/${centerLongitude}`)
          .then((response) => response.json())
          .then((data) => {
            data.reviews.forEach((review) => {
              var card = createInfoCard({
                headline: review.HEADLINE,
                contents: review.CONTENTS,
                address_name: review.LOCATION_NAME,
                review_id: review.REVIEW_ID,
              });
              infoContainer.appendChild(card);
            });
          })
          .catch((error) => {
            // Handle any errors that occur during the fetch request
            console.error(error);
          });
      }
    }

    // 지도에 마커를 표시하는 함수
    function displayMarker(place) {
      // 마커를 생성하고 지도에 표시합니다
      var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x),
      });

      // 마커에 클릭이벤트를 등록합니다
      kakao.maps.event.addListener(marker, "click", function () {
        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
        kakaoInfoWindow.setContent(
          `
					<div style="padding:5px;font-size:12px;">
						<a href="review-write/${place.y}/${place.x}/${place.place_name}">리뷰 작성하기</a>
					</div>
					`,
        );
        kakaoInfoWindow.open(map, marker);
      });
    }

    document
      .getElementById("keyword")
      .addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
          searchPlaces();
        }
      });
    function createInfoCard(place) {
      var link = document.createElement("a");
      link.href = `/review-read/${place.review_id}`; // 예시로 각 장소의 상세 리뷰 페이지로 연결
      link.className = "info-card-link";

      var card = document.createElement("div");
      card.className = "info-card";

      var image = document.createElement("img");
      image.src = "https://picsum.photos/200";
      image.alt = "썸네일";

      var textContainer = document.createElement("div");
      textContainer.className = "info-card-text";

      var title = document.createElement("span");
      title.textContent = place.headline;

      var content = document.createElement("span");
      content.className = "review-text-thumbnail";
      content.textContent = place.contents.slice(0, 50) + "...";

      var location = document.createElement("span");
      location.textContent = `위치: ${place.address_name}`;

      textContainer.appendChild(title);
      textContainer.appendChild(content);
      textContainer.appendChild(location);

      card.appendChild(image);
      card.appendChild(textContainer);

      link.appendChild(card);

      return link;
    }
  </script>
</html>
