<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/css/toolbox.css" />
		<link rel="stylesheet" href="../public/css/headerModule.css" />
		<link rel="stylesheet" href="../public/css/userManagement.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="main-header">
			<a href="#" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="#" class="white-a">계정 관리</a></li>
					<li><a href="#" class="white-a">로그아웃</a></li>
				</ul>
				<img src="./sample.avif" alt="프로필 이미지" />
			</div>
		</header>
		<h1>유저 목록</h1>
		<section id="user-list">
			<div class="user-item">
				<div class="user-item-info">
					<img src="https://picsum.photos/200/300" alt="" />
					<div class="user-item-info-nickname user-info">닉네임</div>
					<div class="user-item-info-id user-info">아이디</div>
					<div class="user-item-info-email user-info">이메일</div>
				</div>
				<button class="user-item-control-delete white-a">삭제</button>
			</div>
			<div class="user-item">
				<div class="user-item-info">
					<img src="https://picsum.photos/200/300" alt="" />
					<div class="user-item-info-nickname user-info">닉네임</div>
					<div class="user-item-info-id user-info">아이디</div>
					<div class="user-item-info-email user-info">이메일</div>
				</div>
				<button class="user-item-control-delete white-a">삭제</button>
			</div>
			<div class="user-item">
				<div class="user-item-info">
					<img src="https://picsum.photos/200/300" alt="" />
					<div class="user-item-info-nickname user-info">닉네임</div>
					<div class="user-item-info-id user-info">아이디</div>
					<div class="user-item-info-email user-info">이메일</div>
				</div>
				<button class="user-item-control-delete white-a">삭제</button>
			</div>
			<div class="user-item">
				<div class="user-item-info">
					<img src="https://picsum.photos/200/300" alt="" />
					<div class="user-item-info-nickname user-info">닉네임</div>
					<div class="user-item-info-id user-info">아이디</div>
					<div class="user-item-info-email user-info">이메일</div>
				</div>
				<button class="user-item-control-delete white-a">삭제</button>
			</div>
			<div class="user-item">
				<div class="user-item-info">
					<img src="https://picsum.photos/200/300" alt="" />
					<div class="user-item-info-nickname user-info">닉네임</div>
					<div class="user-item-info-id user-info">아이디</div>
					<div class="user-item-info-email user-info">이메일</div>
				</div>
				<button class="user-item-control-delete white-a">삭제</button>
			</div>
		</section>
	</body>
</html>
