body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

main {
    display: flex;
	flex-direction: column;
    flex-grow: 1;
	margin: 30px;
}

#headline {
    display: flex;
    font-size: var(--title-font-size);
}

#headline input {
    font-size: var(--title-font-size);
    outline: none;
    border: none;
}

#containerText {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    flex-grow: 1;
    border-style: none;
    font-size: var(--main-font-size);
    margin-top: 20px;
}
#containerText textarea {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border: none;
    resize: none;
}

#containerBottom {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 90%;
    gap: 10px;
    margin-top: 20px;
}