body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

main {
    display: flex;
	flex-direction: column;
    flex-grow: 1;
	margin: 30px;
}

h1 {
    font-size: var(--title-font-size);
    border: #EEEEEE;
}

#headline {
    display: flex;
    font-size: var(--title-font-size);
}

#headline input {
    font-size: var(--title-font-size);
    outline: none;
    border: none;
}

#containerTop {
    display: flex;
    align-content: center;
    flex-direction: row;
}

#containerLocation {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

#containerLocation input {
    font-size: var(--tiny-font-size);
    outline: none;
    border: none;
}

#containerMap {
    display: flex;
    width: 90%;
    height: 450px;
    margin-top: 20px;
    background-color: darkgray;
}

#containerImg {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 20px;
}
#containerImg img {
    width: 450px;
    height: 450px;
    margin: 0 10px 0 0; 
    border-radius: 8px;
}

figure button {
    margin:20px 0 0 0;
}

#containerText {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    flex-grow: 1;
    border-style: none;
    font-size: var(--main-font-size);
    margin-top: 20px;
}
#containerText textarea {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border: none;
    resize: none
}

#containerBottom {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 90%;
    gap: 10px;
    margin-top: 20px;
}

.starRating {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: flex-start;
    margin: 50px 0 0 50px;

}

.star {
    appearance: none;
}
  
.star::after {
    content: '☆';
    color: #ffd400;
    font-size: 50px;
}

.star:hover::after {
    content: '★';
  }

.star:has(~ .star:hover)::after {
    content: '★';
}

.star:checked::after,
.star:has(~ .star:checked)::after {
  content: '★';
}