<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="../../public/stylesheets/module/toolbox.css"
		/>
		<link
			rel="stylesheet"
			href="../../public/stylesheets/module/headerModule.css"
		/>
		<title>header 예시 템플릿</title>
	</head>
	<body>
		<header class="main-header">
			<a href="#" class="main-header-logo">Reviewdangil</a>
			<div class="main-header-left-element">
				<ul>
					<li><a href="#" class="white-a">계정 관리</a></li>
					<li><a href="#" class="white-a">로그아웃</a></li>
				</ul>
				<img src="./sample.avif" alt="프로필 이미지" />
			</div>
		</header>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil excepturi
		recusandae consequuntur eveniet, repellat quidem nulla repellendus iusto
		nobis sapiente repudiandae aliquid aut corporis sint dignissimos!
		Quibusdam nostrum optio earum. Saepe, optio? Impedit unde temporibus
		doloremque, rem recusandae dicta voluptatibus. Animi maiores veniam
		facilis alias sequi ea est repellat temporibus perferendis rerum non
		iste nesciunt dolore neque, natus corrupti ducimus? Quidem laudantium
		voluptate nostrum, asperiores at facilis tempora quas nemo enim officia
		nam explicabo commodi perspiciatis. Odit voluptatum, quasi eos enim
		nobis facere, id minima quo hic perspiciatis labore at. Natus nam soluta
		veritatis nobis numquam fugiat sed recusandae optio perferendis saepe
		voluptates ut excepturi voluptas, odit sit modi dolore? Exercitationem,
		explicabo quaerat sequi autem deleniti doloremque hic molestias saepe?
		Alias neque dolor ratione officia eligendi quaerat, blanditiis sed optio
		non fugit eius tempore nisi, iste sit repudiandae repellendus, cum est
		debitis? Dolores culpa reiciendis maxime voluptate laudantium corrupti
		deleniti. Eum laudantium sit laborum fugiat aspernatur dicta perferendis
		voluptates corporis veniam veritatis deleniti perspiciatis maxime saepe
		dolorum harum debitis, architecto quod iusto. Possimus cupiditate
		obcaecati optio sunt, eveniet at esse! Labore quidem repellendus, eaque
		quo harum reprehenderit eum praesentium provident officiis tempora, quia
		eveniet vitae? Animi, natus culpa impedit explicabo blanditiis dolor
		iure accusantium tempora eaque. Nobis hic quae sunt! Quas non quasi
		saepe. Rerum incidunt placeat molestiae voluptatem eveniet harum
		voluptatibus totam, quidem animi eaque blanditiis aut sit commodi
		aspernatur quaerat alias officia maiores at delectus ipsa provident
		saepe. Illum magni, iusto id est ratione vero. Earum a commodi quis
		necessitatibus numquam veritatis ipsum ut! Eius, aspernatur deleniti,
		labore enim excepturi inventore laboriosam dolorum rerum beatae earum
		recusandae repellat? Sed, excepturi iure, repellendus fugiat quibusdam
		distinctio ea quaerat quas ratione omnis unde pariatur magni. Nulla
		voluptatum earum ut itaque sapiente adipisci ex, molestias qui
		repellendus a architecto assumenda nemo! Recusandae minima esse quae
		sed? In alias, accusantium consectetur nemo veniam officia optio autem
		ea facere culpa odio asperiores quam perferendis doloremque nostrum. In
		odio beatae odit, ea hic ipsa! Id odio quasi vero nemo suscipit ullam
		deserunt ut? Voluptate natus asperiores officia distinctio facilis ut,
		est obcaecati nihil animi ratione totam esse rem, necessitatibus iste
		saepe libero minus et? Quibusdam libero suscipit, maxime officia et,
		amet ullam, modi dolore neque nesciunt perspiciatis alias beatae at
		laborum accusantium sint vero maiores. Dolore in necessitatibus vel odio
		ipsum consequatur recusandae modi. Eos provident eaque unde quod tempora
		dolorem consectetur illo ipsum cumque quibusdam porro repellat voluptas
		dolorum mollitia, ipsa illum nesciunt et quas corporis? Numquam
		voluptatem laudantium natus aliquam iusto enim! Ad ullam ipsum esse
		blanditiis alias hic corrupti praesentium maxime iusto ex. Deserunt,
		deleniti eligendi repellendus laboriosam doloremque quis a non quos
		voluptatibus facilis placeat corporis laudantium nam. Enim, reiciendis?
		Nam porro sed temporibus illo repellendus accusantium, facilis
		distinctio illum voluptate veniam, veritatis consequatur dicta nisi
		maiores ipsam nostrum assumenda. Tempore, ex praesentium. Quaerat
		suscipit molestias fuga recusandae? Eaque, earum. Labore laudantium quam
		nesciunt culpa ullam distinctio! Aspernatur corrupti perspiciatis iste
		voluptatibus excepturi sint ab asperiores, vitae aliquid recusandae
		consectetur, numquam ipsum alias reiciendis! Obcaecati adipisci aut
		temporibus nobis. Facere. Eius fugit velit excepturi reiciendis error
		illum commodi, consequuntur sed at possimus libero nemo in vero,
		explicabo totam itaque numquam blanditiis exercitationem dolorum, iusto
		suscipit dignissimos sapiente accusantium! Nulla, culpa! Mollitia rerum,
		magnam dolore deserunt, voluptatibus voluptates similique, veritatis
		quas tempora quae placeat ab ipsum deleniti id? Aut asperiores
		perspiciatis magnam delectus aperiam, voluptatem cum, harum, id
		perferendis unde nulla. Repudiandae itaque ratione beatae perspiciatis
		debitis voluptatum tempore quod officia a aperiam deserunt, delectus
		magni corrupti architecto incidunt qui minima officiis eum reprehenderit
		totam? Non aut autem totam labore aperiam! Voluptatum animi laudantium
		fuga voluptate beatae, iste mollitia cumque laboriosam cum quibusdam,
		soluta odio explicabo, nam error veniam? Sit quasi alias vero voluptates
		tempora sed ipsa similique fuga ducimus aliquid? Porro, molestias.
		Reiciendis cumque voluptate saepe consequuntur tempora repellendus quo
		dolore. Asperiores nulla doloremque deleniti? Dicta sit eos, aspernatur
		laborum, assumenda saepe ipsa eum, illum dolorem aliquam earum fugit
		corrupti. Veniam eveniet possimus sed nulla atque voluptate saepe nam
		necessitatibus fugit rem expedita, non rerum nostrum, assumenda deserunt
		mollitia dicta est tempore odit delectus cumque. Porro dignissimos natus
		veniam debitis. Rem ducimus provident maiores nostrum beatae labore?
		Expedita vel ab perspiciatis cupiditate. Sed sunt asperiores blanditiis
		ullam hic facilis iure voluptatibus, amet nostrum molestiae, voluptatum
		earum error velit aliquam. Adipisci! Rem blanditiis laudantium optio hic
		quidem atque enim odio tenetur delectus explicabo dicta maxime quae, sed
		earum inventore dolorum et libero, ullam natus beatae omnis in tempore?
		Recusandae, doloribus distinctio. Ullam, quod voluptatem? Quae totam
		dolore necessitatibus dicta eligendi ex quam exercitationem, itaque
		ullam voluptas nesciunt ratione? Voluptatum natus aut, voluptatem illum
		error minima quibusdam voluptate, aliquid commodi dolorem repellendus!
		Omnis error exercitationem voluptate dolores numquam eos ea eaque minus
		a repellat dolor facere, labore aut beatae officiis nobis quasi
		laboriosam fuga autem nostrum? Ipsam distinctio non praesentium
		assumenda quam. Reiciendis magni error deleniti quam accusamus nisi
		aliquam nihil ad at! Vero pariatur enim eveniet quam provident autem
		quo, iste ullam optio adipisci nam repellendus fugiat deserunt cumque
		sunt delectus. Architecto, rem cumque molestiae magnam nulla officiis
		placeat? Repellat quo amet enim fuga autem reprehenderit molestias
		eveniet totam repudiandae! Architecto veritatis veniam aliquid tempora
		eum tempore nisi esse odit quam! In ex non corrupti, odio tempore
		officiis quas fuga minus consequuntur totam, architecto ad dolorem nulla
		ducimus? Explicabo minima, quibusdam expedita maiores blanditiis eum,
		vel perferendis, voluptate iure culpa labore?
	</body>
</html>
