<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="../../public/stylesheets/module/toolbox.css"
		/>
		<link
			rel="stylesheet"
			href="../../public/stylesheets/module/infoCardModule.css"
		/>
		<title>Document</title>
	</head>
	<body>
		<div class="info-card">
			<img src="https://picsum.photos/200" alt="썸네일" />
			<div class="info-card-text">
				<span>리뷰 제목</span>
				<span class="review-text-thumbnail">
					리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고
					저쩌고 어쩌고 저쩌고 리뷰 내용 어쩌고 저쩌고 어쩌고 저쩌고
				</span>
				<span>위치</span>
			</div>
		</div>
	</body>
</html>
